
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-nutriBg text-gray-100 antialiased;
}

.page-gradient {
  background: radial-gradient(circle at top left, rgba(184,255,59,0.15), transparent 55%),
              radial-gradient(circle at top right, rgba(52,216,255,0.14), transparent 55%),
              radial-gradient(circle at bottom, rgba(184,255,59,0.08), transparent 55%);
}
